.cell_39_ span {
	padding: 0 0 0 26px;
	color: #666666;
	font-size: 12px;
	margin: 0 15px 0 0;
}

.cell_39_ span.wzdh {
	background: url(../images/20171025191733t6wc.png) no-repeat left center transparent;
}

.cell_39_ span.swsy {
	background: url(../images/20171025191743jxcp.png) no-repeat left center transparent;
}

.cell_39_ span.jrsc {
	background: url(../images/20171025191750t9le.png) no-repeat left center transparent;
}

.cell_40_ .login {
	font-size: 14px;
	color: #fff;
	padding: 3px 9px;
	background: #fe8102;
	border-radius: 3px;
	margin-right: 6px;
}

.cell_40_ .register {
	font-size: 14px;
	color: #999;
	padding: 3px 9px;
	background: #e5e5e5;
	border-radius: 3px;
}

.cell_41_ {
	display: block;
	width: 228px;
	height: 50px;
	background: url(../images/20171025194234xh8a.png) no-repeat left top transparent;
	margin: 31px 0 0;
	background-size:
}

.cell_42_ {
	padding:;
	margin: 39px 0 0 119px;
	position: relative;
}

.cell_42_ .text, .cell_42_ .submit {
	box-shadow: none;
	border-radius: 0;
	color: #b3b3b3;
	background: #FFF;
	line-height: 36px;
	outline: none;
	font-size: 14px;
}

.cell_42_ .text {
	border: 1px solid #e5e5e5;
	width: 252px;
	height: 34px;
	line-height: 34px;
	padding-left: 80px;
}

.cell_42_ .submit {
	cursor: pointer;
	margin: 0;
	width: 40px;
	background: url(../images/20171025200655hos3.png) no-repeat left top transparent;
	border: none;
	height: 36px;
	line-height: 36px;
	color: #FFF;
}

.cell_42_ .search-select {
	height: 34px;
	width: 65px;
	color: #666;
	line-height: 34px;
	position: absolute;
	left: 1px;
	top: 1px;
	cursor: pointer;
	font-size: 14px;
	background: #f5f5f5;
}

.cell_42_ .search-select h5 {
	font-size: 14px;
	margin: auto;
	font-weight: 100;
	background: url(../images/2017102520064677vy.png) no-repeat right center transparent;
	width: 45px;
}

.cell_42_ .search-select-item {
	position: absolute;
	background: #FFF;
	top: 35px;
	left: -1px;
	width: 65px;
	background: #f5f5f5;
	z-index: 9;
}

.cell_42_ .search-select-item li {
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 0 10px;
}

.search-main {
	height: 36px;
}

.search-main input {
	float: left;
}

.cell_42_ .left {
	float: left;
}

.cell_42_ input::-webkit-input-placeholder { /* WebKit browsers */
	　　color: #b3b3b3;
	　　
}

.cell_42_ input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	　　color: #b3b3b3;
	　　
}

.cell_42_ input::-moz-placeholder { /* Mozilla Firefox 19+ */
	　　color: #b3b3b3;
	　　
}

.cell_42_ input:-ms-input-placeholder { /* Internet Explorer 10+ */
	　　color: #b3b3b3;
	　　
}

.cell_43_ {
	height: 100px;
	margin: 10px 0 0 57px;
}

.weather .cross-big dt.has-switch .name {
	display: none;
}

.cell_44_ {
}

.cell_44_ div {
	line-height: 20px;
	color: #666666;
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 0 0 0 28px;
}

.cell_44_ .phonenum {
	background: url(../images/20171025203703cpfr.png) no-repeat left center transparent;
}

.cell_44_ .mail {
	background: url(../images/20171025203710xmnr.png) no-repeat left center transparent;
}

.cell_45_ {
	background:;
	font-size: 16px;
	height:;
	line-height:;
	overflow: hidden;
}

.cell_45_ li {
	float: left;
	background: url(../images/20171027210243azd.png) repeat-y right center transparent;
	padding: 0 29px;
	position: relative;
	height: 77px;
	line-height: 68px;
}

/*.cell_45_ li.go-home{background:none;}*/
.cell_45_ li a {
	color: #fff;
	font-size: 16px;
	font-weight: 100;
}

.cell_45_ li a:hover {
	text-decoration: none;
}

.cell_45_ li p {
	line-height: 16px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
	text-align: center;
}

.cell_45_ li.m2o-column-71 {
	padding: 0 35px;
	line-height: 82px;
}

.cell_45_ li.m2o-column-11 {
	padding: 0 44px;
}

.cell_45_ li.m2o-column-10 {
	padding: 0 44px;
}

.cell_45_ li:last-child {
	background: none;
}

.cell_45_ li.current {
	background: url(../images/20171030142427cchu.png) repeat-x left center transparent;
}

.cell_45_ li.current a {
	color:;
}

.cell_46_ {
	width: 324px;
	padding: 0 0 0 117px;
	background: url(../images/20171027195203fk8f.png) no-repeat left center transparent;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}

.cell_46_ li {
	background:;
	padding-left:;
	margin: 0 25px 0 0;
	float: left;
	width:;
}

.cell_46_ li a {
	font-size: 14px;
	color: #666;
}

.cell_46_ li span {
	display: none;
}

.cell_47_ {
	width: 294px;
	padding: 0 0 0 117px;
	background: url(../images/20171027195245ifk2.png) no-repeat left center transparent;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}

.cell_47_ li {
	background:;
	padding-left:;
	margin: 0 25px 0 0;
	float: left;
	width:;
}

.cell_47_ li a {
	font-size: 14px;
	color: #666;
}

.cell_47_ li span {
	display: none;
}

.cell_48_ {
	width:;
	padding: 0 0 0 117px;
	background: url(../images/20171027195254iq3j.png) no-repeat left center transparent;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}

.cell_48_ li {
	background:;
	padding-left:;
	margin: 0 25px 0 0;
	float: left;
	width:;
}

.cell_48_ li a {
	font-size: 14px;
	color: #666;
}

.cell_48_ li span {
	display: none;
}

.cell_49_ {
	color: #7d7d7d;
	font-size: 12px;
	line-height: 12px;
	margin: 15px 0 0 14px;
}

.cell_49_ a {
	color: #7d7d7d;
}

.cell_49_ span {
	padding: 0 5px;
}

.cell_49_ span:last-child {
	display: none;
}

.cell_50_ .contenttitle {
	text-align: center;
	line-height: 24px;
	margin: 32px 0 25px 0;
	font-size: 24px;
}

.cell_50_ .contenttitle a {
	color: #f85216;
}

.cell_50_ .news_info_date {
	font-size: 12px;
	margin: 0 0 43px 0;
	line-height: 12px;
	color: #999;
	text-align: center;
}

.cell_50_ .news_info_date .time {
	padding: 0 76px 0 0;
}

.cell_50_ .article-view {
	display: none;
}

.cell_50_ .news_info_share {
	float: right;
}

.cell_50_ .news_info_share .share {
	padding: 0 15px 0 0;
}

.bdshare-button-style0-24 {
	float: right;
	margin: -11px 0 0;
}

.bdshare-button-style0-24 .bds_more {
	display: none;
}

.cell_50_ .bds_weixin {
	background: url(../images/20171030152435clhj.png) no-repeat center center transparent;
	background-position: 0 !important;
}

.cell_50_ .bds_tsina {
	background: url(../images/20171030152446mtm.png) no-repeat center center transparent;
	background-position: 0 !important;
}

.cell_50_ .bds_sqq {
	background: url(../images/20171030152457vrev.png) no-repeat center center transparent;
	background-position: 0 !important;
}

.cell_50_ .bds_renren {
	background: url(../images/20171030152505tsut.png) no-repeat center center transparent;
	background-position: 0 !important;
}

.cell_50_ .bds_douban {
	background: url(../images/20171030152513qxb4.png) no-repeat center center transparent;
	background-position: 0 !important;
}

.bdshare-button-style0-24 a, .bdshare-button-style0-24 .bds_more {
	padding-left: 28px !important;
	height: 27px !important;
}

.cell_50_ .article-main {
	font-size: 14px;
	color: #333;
	line-height: 30px;
	text-indent: 2em;
	padding: 0 0 30px 0;
	margin: 0 50px 0 50px;
}

.cell_50_ .article-main img {
	max-width: 640px;
}

.cell_50_ .article-page {
	margin: 0 0 30px 0;
}

.cell_50_ .meneame {
	clear: both;
	width: 100%;
	text-align: center;
}

.cell_50_ .meneame span, .meneame strong, .meneame a {
	padding: 6px 10px;
	border: 1px solid #dcdcdc;
	color: #666;
	margin-right: 10px;
	font-size: 12px;
	text-decoration: none;
}

.cell_50_ .meneame .total-num {
	border: none;
	font-size: 12px;
}

.cell_50_ .meneame .current {
	background: #aaaaaa;
	border-color: #aaaaaa;
	color: #fff;
}

.cell_50_ .meneame a:hover {
	background: #aaaaaa;
	border-color: #aaaaaa;
	color: #fff;
}

.cell_51_ {
	margin: 40px auto;
	width: 756px;
}

.cell_51_ .cmt-header {
	color: #fe8102;
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 18px 0;
}

.cell_51_ .slogan {
	margin: 0 0 0 15px;
	font-size: 12px;
	color: #b5b5b5;
	line-height: 22px;
}

.cell_51_ .textarea {
	outline: none;
	resize: none;
	width: 754px;
	height: 131px;
	border: 1px solid #ffe6cc;
}

.cell_51_ .submit {
	width: 98px;
	background: #fe8102;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin: 20px 0 0;
}

.cell_51_ .cmt-content {
	position: relative;
}

.cell_51_ .cmt-info {
	position: absolute;
	left: 45%;
	top: 0;
	color: #fff;
	font-size: 14px;
	padding: 5px 10px;
	background: green;
	border-radius: 5px;
	text-align: center;
}

.cell_51_ .cmt-info.error {
	background: orange;
}

.cell_52_ {
	height: 18px;
	line-height: 18px;
	padding:;
	margin: 15px 20px 17px;
	overflow: hidden;
	width:;
}

.cell_52_ .tl-header {
	float: left;
}

.cell_52_ .tl-header a {
	font-size: 18px;
	color: #f85216;
}

.cell_52_ .tl-more {
	float: right;
	font-family: tahoma, arial;
}

.cell_52_ .tl-more a {
	color:;
	font-size:;
	display: block;
	height: 18px;
	width: 18px;
	background: url(../images/20171025205543af2r.png) no-repeat right center transparent;
}

.cell_53_ {
	margin: 2px 0 0;
	width:;
	float:;
}

.cell_53_ ul {
	width: 110%;
}

.cell_53_ li {
	float: left;
	position: relative;
	width: 163px;
	height: 115px;
	margin: 0 0 20px 20px;
	display: inline;
	overflow: hidden;
}

.cell_53_ p, .cell_53_ .filter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

.cell_53_ p {
	line-height: 30px;
	text-align: center;
}

.cell_53_ .filter {
	background: black;
	opacity: .6;
	filter: alpha(opacity=60);
}

.cell_53_ a {
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: normal;
}

.cell_53_ .vid-play-icon {
	width: 35px;
	height: 35px;
	top: 36px;
	left: 68px;
	position: absolute;
	background: url(../images/20171027102554zdfv.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=& #39;
	http: / / www . bzcm . net /t/ icon / 201710 / 20171027102554 zDFV . png & #39;
);
	_background: none;
}

.cell_53_ img {
	width: 100%;
	border:;
	height: 115px;
}

.cell_54_ {
	height: 18px;
	line-height: 18px;
	padding:;
	margin: 14px 20px 18px;
	overflow: hidden;
	width:;
}

.cell_54_ .tl-header {
	float: left;
}

.cell_54_ .tl-header a {
	font-size: 18px;
	color: #f85216;
}

.cell_54_ .tl-more {
	float: right;
	font-family: tahoma, arial;
}

.cell_54_ .tl-more a {
	color:;
	font-size:;
	display: block;
	height: 18px;
	width: 18px;
	background: url(../images/20171025205543af2r.png) no-repeat right center transparent;
}

.cell_55_ {
	margin: 2px 0 0;
}

.cell_55_ ul {
	width: 110%;
}

.cell_55_ li {
	float: left;
	position: relative;
	width: 163px;
	height: 115px;
	margin: 0 0 20px 20px;
	display: inline;
	overflow: hidden;
}

.cell_55_ p, .cell_55_ .filter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	height: 30px;
}

.cell_55_ p {
	line-height: 30px;
	text-align: center;
}

.cell_55_ .filter {
	background: black;
	opacity: .6;
	filter: alpha(opacity=60);
}

.cell_55_ a {
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: normal;
}

.cell_55_ .vid-play-icon {
	width: 35px;
	height: 35px;
	top: 36px;
	left: 68px;
	position: absolute;
	background: url(../images/20171027102554zdfv.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=& #39;
	http: / / www . bzcm . net /t/ icon / 201710 / 20171027102554 zDFV . png & #39;
);
	_background: none;
}

.cell_55_ img {
	border:;
	width: 163px;
	height: 115px;
}

.cell_55_ li:first-child {
	width: 346px;
	height: 213px;
}

.cell_55_ li:first-child img {
	width: 346px;
	height: 213px;
}

.cell_56_ {
	height: 18px;
	line-height: 18px;
	padding:;
	margin: 14px 20px 20px;
	overflow: hidden;
}

.cell_56_ .tl-header {
	float: left;
}

.cell_56_ .tl-header a {
	font-size: 18px;
	color: #f85216;
}

.cell_56_ .tl-more {
	float: right;
	font-family: tahoma, arial;
}

.cell_56_ .tl-more a {
	color:;
	font-size:;
	display: block;
	height: 18px;
	width: 18px;
	background: url(../images/20171025205543af2r.png) no-repeat right center transparent;
}

.cell_57_ {
	padding: 0 0 0 20px;
	background:;
	line-height: 34px;
	font-size: 14px;
	color: #333;
}

.cell_57_ li {
	background: url(../images/20171030153949c61e.png) no-repeat left bottom transparent;
	padding-left:;
	text-align: left;
	margin:;
}

.cell_57_ li a {
	font-size: 14px;
	color: #333;
}

.cell_57_ li .m2o-type-vod-, .cell_57_ li .m2o-type-tuji- {
	padding-left:;
}

.cell_57_ li .m2o-type-vod- {
	background:;
	padding:;
}

.cell_57_ li .m2o-type-tuji- {
	background:;
}

/*.cell_57_ li .m2o-type-tuji-{background-position:0 -30px;}*/

.cell_57_ li .m2o-type-vod-right, .cell_57_ li .m2o-type-tuji-right {
	padding-right:;
	background: url(../images/20131119103113ykyw.png) no-repeat;
}

.cell_57_ li .m2o-type-vod-right {
	background-position: right 0;
}

.cell_57_ li .m2o-type-tuji-right {
	background-position: right -30px;
}

.cell_57_ li .num {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #b5b5b5;
	color: #fff;
	margin: 0 10px 0 0;
}

.cell_57_ li:nth-child(1) .num {
	background: #eb0000;
}

.cell_57_ li:nth-child(2) .num {
	background: #eb0000;
}

.cell_57_ li:nth-child(3) .num {
	background: #eb0000;
}

.foot_nav {
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	background: #535353;
	border-top: 2px solid #fe8102;
	text-align: center;
}

.foot_nav > a {
	color: #fff;
}

.foot_nav > span {
	color: #6a6a6a;
	padding: 0 13px 0 16px;
}

.foot_con {
	padding: 15px 0 20px 0;
	line-height: 30px;
	color: #333;
	font-size: 12px;
	background: #eee;
	text-align: center;
}

.cell_312_ {
	padding: 10px;
}

.comment-item {
	border-bottom: 1px dotted rgb(238, 238, 238);
	padding: 10px 0;
}

.comment-item-main {
	font-size: 12px;
	color: #666;
	margin: 0 -10px 0 64px;
	line-height: 24px;
}

.comment-item-bar span, .comment-item-pubdate, .comment-item-action a {
	margin-right: 10px;
}

.comment-item-main a {
	color: #004276;
}

.comment-item-avatar {
	padding: 3px 0 0;
}

.comment-item-avatar img {
	border-radius: 5px;
}

.comment-item-content {
	color: rgb(0, 0, 0);
	line-height: 18px;
}

.comment-item-action {
	text-align: right;
}

.comment-item-digg {
	position: relative;
}

.comment-item-bar {
	height: 24px;
}

.comment-item-bar span {
	float: left;
}

.comment-item-bar .comment-item-pubdate {
	float: right;
}

.comment-item-increase {
	position: absolute;
	left: 0;
	top: -2px;
	background: rgb(238, 238, 238);
	border: 1px solid rgb(221, 221, 221);
	font-weight: 700;
	color: #c00;
	line-height: 20px;
	width: 40px;
	text-align: center;
	background-image: -moz-linear-gradient(top, rgb(102, 102, 102), rgb(238, 238, 238));
	background-image: linear-gradient(top, rgb(102, 102, 102), rgb(238, 238, 238));
	background-image: -webkit-linear-gradient(top, rgb(102, 102, 102), rgb(238, 238, 238));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=& #39;
rgb(102, 102, 102) & #39;, endColorstr = & #39;
rgb(238, 238, 238) & #39;, GradientType = & #39;
	0 & #39;
);
	display: none;
}

#cmtload {
	background: rgb(247, 247, 247);
	font-size: 14px;
	margin: -5px 0 0;
	padding: 5px;
	line-height: 20px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	color: #333;
	font-size: 12px;
	display: none;
}

#cmtload {
	margin: 10px auto;
}

.cell_312_ .comment-item-ip {
	display: none;
}
